 @model Instructor


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="/Image/@Model.Image" class="card-img-top" alt="Instructor Image">
                <div class="card-body">
                    <h5 class="card-title">Instructor Name: @Model.Name</h5>
                    <p class="card-text">ID: @Model.Id</p>
                    <p class="card-text">Address: @Model.Address</p>
                    <p class="card-text">Salary: @Model.Salary</p>
                    <a href="@Url.Action("Index", "Instructor")" class="btn btn-primary">Back Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
